@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

body {
    font-family: $font-family;
}

.top {
    background-color: $header-color;
    background-image:
        url(images/Group.png),
        url(images/Star\ 3.svg),
        url(images/Star\ 2.svg),
        url(images/Star\ 5.svg),
        url(images/Star\ 4.svg);
    background-repeat: no-repeat;
    background-position:
        right 0px top 0px,
        left 156px top 59px,
        left 63px top 94px,
        right 455px top 538px,
        right 344px top 568px;

    &__title {
        padding-top: 196px;
        font-size: $font-size-xxlarge;
        font-weight: $font-weight-bold;
        line-height: $line-height-xxlarge;
        color: $primary-color;
        max-width: 769px;
        padding-bottom: 24px;
    }

    &__subtitle {
        font-size: $font-size-medium;
        font-weight: $font-weight-regular;
        line-height: $line-height-medium;
        padding-bottom: 48px;

        &_bold {
            font-weight: $font-weight-semibold;
        }

        &__bg-image {
            position: absolute;
        }
    }


    &__btn {
        display: inline-block;
        text-align: center;
        padding-top: 16px;
        @include button-style;
        margin-bottom: 156px;
    }

}

.nav {
    height: 90px;
    background-color: $nav-color;
}

.main {
    background-color: $primary-color;
    background-image:
        url(images/Star\ 1.svg),
        url(images/Star\ 11.svg),
        url(images/Star\ 12.svg),
        url(images/Star\ 7.svg),
        url(images/Star\ 6.svg),
        url(images/Star\ 10.svg),
        url(images/Star\ 8.svg);
    background-repeat: no-repeat;
    background-position:
        top 77px right 0px,
        top 770px left 25px,
        top 822px left 40px,
        bottom 3367px right 123px,
        bottom 3298px right 44px,
        bottom 45px right 150px,
        bottom 65px right 52px;
}

.about {
    &__title {
        color: $secondary-color;
        font-size: $font-size-xxlarge;
        font-weight: $font-weight-bold;
        padding-top: 94px;
        padding-bottom: 24px;
    }

    &__subtitle {
        color: $secondary-color;
        font-size: $font-size-medium;
        font-weight: $font-weight-regular;
        line-height: $line-height-medium;
        margin-bottom: 72px;
    }
}

.games {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

}

.game {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 378px;
    background-color: $secondary-color;
    border-radius: 30px;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.10);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    &__img {
        max-width: 100%;
    }

    &__btn {
        text-align: center;
        padding-top: 8px;
        width: 107px;
        height: 36px;
        color: $primary-color;
        background-color: $number-color;
        border-radius: 52px;
        font-size: $line-height-very-small;
        font-weight: $font-weight-medium;
        margin-top: 32px;
        margin-bottom: 16px;
        margin-left: 32px;
    }

    &__name {
        color: $primary-color;
        font-size: $font-size-big;
        font-weight: $font-weight-bold;
        padding-left: 32px;
        padding-bottom: 36px;
    }

    &__desc {
        display: none;
    }

    &__mob-btn {
        display: none;
    }
}

.game:nth-child(4),
.game:nth-child(6) {
    margin-top: -32px;
}

.mini-games {
    padding-bottom: 144px;

    &__title {
        color: $secondary-color;
        font-size: $font-size-xxlarge;
        font-weight: $font-weight-bold;
        padding-top: 94px;
        padding-bottom: 72px;
    }
}

.block {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mini-game {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    background-color: $secondary-color;
    border-radius: 30px;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.10);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    &:nth-child(odd) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &__img {
        width: 600px;
    }

    &__name {
        color: $primary-color;
        font-size: $font-size-xlarge;
        font-weight: $font-weight-bold;
        padding-left: 48px;
        padding-top: 48px;
        padding-bottom: 24px;
    }

    &__desc {
        font-size: $font-size-medium;
        font-weight: $font-weight-regular;
        line-height: $line-height-medium;
        color: $primary-color;
        padding-left: 48px;
        padding-bottom: 36px;
    }

    &__mob-btn {
        @include button-style;
        margin-left: 48px;
    }
}

.footer {
    height: 150px;
    background-color: $header-color;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;

    &__text {
        font-size: $font-size-medium;
        font-weight: $font-weight-semibold;

    }
}

@import 'mobile';